aniso8601==9.0.1
asgiref==3.5.2
autopep8==1.5.4
click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numexpr
numpy
numpydoc
pandas
pandas-datareader==0.10.0
pycodestyle==2.6.0
Pyomo==6.4.2
python-dateutil
python-lsp-jsonrpc==1.0.0
pytz==2020.5
scikit-image
scikit-learn
scipy==1.9.1
six==1.15.0
toml==0.10.2
Werkzeug==2.0.3
xlrd
